<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <img src="/public/img/#" alt="Logo">
                <li><a href="#">Enlace</a></li>
                <li><a href="#">Enlace</a></li>
                <li><a href="#">Enlace</a></li>
                <li><a href="#">Enlace</a></li>
                <form action="">
                    <input type="text" placeholder="Buscar">
                    <img src="" alt="Buscar">
                </form>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Página Principal</h1>
        <table>
            <tr>
                <th>Columna 1</th>
                <th>Columna 2</th>
                <th>Columna 3</th>
            </tr>
        </table>
    </main>
</body>
</html>